! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! urxvt conf -----------------------------------------------------------------
URxvt.scrollBar:    false
URxvt.internalBorder: 20

! urxvt colors ---------------------------------------------------------------
! special
URxvt.foreground:   #dbd7b8
!#c5c8c6
URxvt.background:   #2c2832
URxvt.cursorColor:  #dbd7b8

! black
URxvt.color0:       #332d38
URxvt.color8:       #6f6b75

! red
URxvt.color1:       #bf6257
URxvt.color9:       #bf6257

! green
URxvt.color2:       #82a37c
URxvt.color10:      #82a37c

! yellow
URxvt.color3:       #b7a16c
URxvt.color11:      #b7a16c

! blue
URxvt.color4:       #6d6a80
URxvt.color12:      #6d6a80

! magenta
URxvt.color5:       #825969
URxvt.color13:      #825969

! cyan
URxvt.color6:       #938e8f
URxvt.color14:      #938e8f

! white
URxvt.color7:       #dbd7b8
URxvt.color15:      #dbd7b8


! FONTS
URxvt.font: xft:bitbuntufull:size=7:antialias=true
URxvt.boldFont: xft:bitbuntufull:size=7:antialias=true
